/* 기본 폰트 설정 */
html {
    font-family: 'Noto Sans KR', serif; /* 한글 폰트 */
}

body {
    font-family: 'Roboto Slab', serif; /* 영어 폰트 */
    background-color: #FAFFDE;
    width: 100%; /* 화면 너비 고정 */
    margin: 0 auto; /* 화면 중앙 정렬 */
    overflow-x: hidden; /* 가로 스크롤 방지 */
    font-optical-sizing: auto;
}

/* 헤더 상단 이미지 스타일 */
.header-top-image {
    width: auto; 
    height: 165px; 
    position: absolute;  /* 절대 위치 */
    top: 0;  /* 헤더의 맨 위에 위치 */
    left: 50%;  /* 가로 중앙에 위치 */
    transform: translateX(-50%);  /* 정확히 중앙에 위치하도록 조정 */
    z-index: 0;  /* 이미지가 다른 내용 뒤에 오도록 */
}

/* Header 스타일 */
header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column; /* 헤더 내용 세로 정렬 */
    padding: 0 16px; /* 상단 패딩으로 여백 추가 */
}

/* h1, h2에 margin을 설정해 상단 간격을 조절 */
header h1, header h2, p {
    margin: 0px 0;
}

header h1 {
    font-size: 30px;
    color: #6A654B;
    margin-top: 165px;
    font-weight: 420;
}

header h2 {
    font-size: 24px;
    color: #6A654B;
    font-weight: 300;
}

header p {
    font-family: 'Orbit', sans-serif;
    font-size: 16px;
    color: #69654B;
}

#d-day {
    font-family: 'Orbit', sans-serif;
    font-size: 20px;
    color: #6A654B;
    background-color: #ffffff;
    padding: 8px 16px;
    margin: 16px auto; /* 중앙 정렬 */
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}

/* 부모 컨테이너를 grid로 설정 */
.grid-container {
    display: grid; /* grid로 설정 */
    grid-template-columns: repeat(2, 1fr); /* 2개의 열로 나누기 */
    gap: 0px; /* 컨테이너 간의 간격 */
    margin-top: 40px;
}

/* 각 컨테이너의 스타일 */

.container {
    background-color: #FAFFDE;
    padding: 20px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;     /* 수직 가운데 정렬 */
    text-align: center;      /* 텍스트 수평 정렬 */
    height: 160px; /* 높이를 설정해서 텍스트가 수직 중앙에 오게 함 */
    }
 
/* 기본적으로 줄 내림을 하지 않음 */
.container p {
    display: inline; /* 기본적으로는 한 줄로 표시 */
}

/* 줄 내림을 원하는 경우 추가할 클래스 */
.break-line {
    display: block; /* 줄 바꿈을 할 수 있도록 설정 */
    margin-bottom: 10px; /* 여백 추가 */
}

.text-style-1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #6A654B;
    font-weight: 700;
}

.text-style-2 {
    font-family: 'Orbit', sans-serif;
    font-size: 18px;
    color: #6A654B;
    font-weight: normal;
}


/* Footer 스타일 */
footer {
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
    color: #69654B;
}

footer p {
    margin: 0;
}

/* 초기 상태: 요소가 보이지 않음 */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* visible 클래스가 추가되면 요소가 보이도록 */
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* 데스크탑에서는 별도의 스타일 변경 없이 모바일 스타일 그대로 유지 */
@media (min-width: 768px) {
}