/* 기본 폰트 설정 */
html {
    font-family: 'Noto Sans KR', serif; /* 한글 폰트 */
}

body {
    font-family: 'Roboto Slab', serif; /* 영어 폰트 */
    font-optical-sizing: auto;
    background-color: #FAFFDE;
    width: 375px;  /* 모바일 화면 너비 고정 */
    margin: 0 auto; /* 화면 중앙에 정렬 */
    overflow-x: hidden; /* 가로 스크롤 방지 */
}

/* 텍스트 스타일 */
h3, p {
    font-family: 'Noto Sans KR', sans-serif; /* 한글 폰트 */
}

h3 {
    font-family: 'Noto Sans KR', sans-serif; /* 한글 폰트 */
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #69654B;
    display: inline-block; /* 한 줄에 배치 */
    margin-right: 10px; /* h3와 h4 사이 간격을 조정 */
}

h4 {
    font-family: 'Orbit', sans-serif; /* 한글 폰트 */
    font-size: 18px;
    margin: 0;
    color: #69654B;
    display: inline-block; /* 한 줄에 배치 */
    font-weight: normal; /* 글씨 두께를 기본값으로 설정 */
}


p {
    font-size: 14px;
    margin: 0;
    color: #000;
}

#d-day {
    font-family: 'Orbit', sans-serif; /* 한글 폰트 */
    font-size: 1.3em;
    color: #6A654B; /* 밝은 색으로 강조 */
    background-color: #ffffff; /* 배경 색 */
    padding: 8px 16px; /* 상하, 좌우 패딩 */
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 10px; /* 둥근 모서리 */
    text-align: center; /* 텍스트 가운데 정렬 */
    display: inline-block; /* 블록 요소처럼 보이되, 콘텐츠에 맞게 크기 조정 */
}

/* Header 스타일 */
header {
    background: url('images/header-background.png') center / cover no-repeat, #FAFFDE; /* 배경 이미지와 색상 */
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header h1 {
    font-size: 30px; /* 모바일 사이즈에 맞게 크기 줄이기 */
    color: #6A654B;
    margin: 0;
    font-weight: 500;
}

header h2 {
    font-size: 24px; /* 모바일 사이즈에 맞게 크기 줄이기 */
    color: #6A654B;
    margin: 0;
    font-weight: 300;
}

header p {
    font-family: 'Orbit', sans-serif;
    font-size: 14px;  /* 모바일 스타일 유지 */
    color: #69654B;
    margin: 0;
}

/* 결혼식 정보 섹션 */
.wedding-details {
    padding: 20px;
    text-align: left;
}

/* 신랑/신부 사진 섹션 */
.couple-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.couple-container div {
    margin: 0 20px;
    text-align: center;
}

.couple-container img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

/* Footer 스타일 */
footer {
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* 초기 상태: 요소가 보이지 않음 */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* visible 클래스가 추가되면 요소가 보이도록 */
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
